@import "../variables";

// Don't think I need anything here
.gm-style-iw {
   top: 15px !important; // move the infowindow 15px down
   left: 0 !important;
}

.infoWindow {
  height: 200px;
  width: 200px;
  background: orangered;
}