@import "../variables.scss";



.profileImage {
    transition: all .3s ease-in-out;
    position: absolute;
    top: 4px;
    left: 7px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px white;
}



.profileImageAnim-enter {
    transform: translateX(-80px);
}

.profileImageAnim-enter.profileImageAnim-enter-active {
    transform: translateX(0px);
    transition: all .3s ease-in-out;
}


.profileImageAnim-leave {
   transform: translateX(0px);
}

.profileImageAnim-leave.profileImageAnim-leave-active {
    transform: translateX(-80px);
    transition: all .3s ease-in-out;
}