@import "../variables.scss";

.settingsMenuContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    transition: all .3s ease-in-out;
}

.settingsMenuContainer.open {
    width: 100%;
}

.settingsMenuContainer.closed {
    width: 0%;
}

.settingsMenu {
    position: relative;
    z-index: 30;
    width: 70%;
    height: 100%;
    background: white;
}

.settingsMenuBuffer {
    width: 30%;
    height: 100%;
}



.settingsMenuUl {
    transition: all .3s ease-in-out;
    list-style-type: none;
    color: black;
    font-size: 20px;
    position: absolute;
    padding-left: 0px;
    top: 19%;
    left: 10%;
}

.settingsMenuUl li {
    margin-bottom: 20px;
    cursor: pointer;
}

.settingsMenuIcon {
    margin-right: 20px;
}

.profileImageAnim-enter {

}

.profileImageAnim-enter.profileImageAnim-enter-active {

}

.profileImageAnim-appear {

}

.profileImageAnim-appear-.profileImageAnim-appear-active {

}

.profileImageAnim-leave {

}

.profileImageAnim-leave.profileImageAnim-leave-active {

}