.accountPage {
    width: 100%;
    height: 100%;
}

.prefPanel-enter {
    filter: opacity(0);
}

.prefPanel-enter.prefPanel-enter-active {
    filter: opacity(1);
    transition: all .2s ease-in-out;
}

.prefPanel-leave {
    transform: translateY(0%);    
}

.prefPanel-leave.prefPanel-leave-active {
    transform: translateY(100%);
    transition: all .5s ease-in-out;
}
