@import "./vendor/blueprint";
@import "./components/bottomArea.scss";
@import "./components/hamburger.scss";
@import "./components/overlay.scss";
@import "variables.scss";
@import "./components/settingsMenu.scss";
@import "./components/profilePanel.scss";
@import "./components/infoWindow.scss";

// Consider Radium or some other react style package

// Mobile testing:

// body {
//   margin: 0
// }

// #mainApp {
//   width: 100% !important;
//   margin-left: 0px !important;
// }

//  End of mobile testing styles

.pt-input {
    border-radius: 0px;
}

.bottomButton {
    filter: drop-shadow(5px 5px 7px);
    transition: all .02s ease-in-out;
}

.bottomButton:focus {
    outline: none;
}

.bottomButton:active {
    transform: translateY(3px);
    filter: drop-shadow(2px 2px 7px);
}

.fade-enter {
    opacity: 0;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.fade-leave {
    opacity: 1
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity .2s ease-in;
}

#mainApp {
	background-color: #0732a2;
}

.centerAbsolute {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.ratingCircle {
  position: absolute;
  bottom: 13px;
  right: 3px;
  margin-bottom: 2px;
  padding: 8px 12px 8px 12px;
  color: white;
  border-radius: 50%;
}

.marginTop50P {
  margin-top: 50%;
}

.resultItem:nth-child(odd) {
  margin: 1% 1% 1% 0px;
}

.resultItem:nth-child(even) {
  margin: 1% 0px 1% 1%;
}


.resultsMenu::-webkit-scrollbar {
  display: none;
}

.red {
  background: red
}

.goodRating {
  background: $goodRatingColor;
}

.mediumRating {
  background: $mediumRatingColor;
}

.badRating {
  background: $mediumRatingColor;
}

.noRating {
  background: $mediumRatingColor;
}


.div2 {
  height: 100px;
  width: 100px;
  background: purple;
}
